// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.bg-primary {
  background-color: rgb(27, 94, 32) !important;
}

.bg-primary-light {
  background-color: rgba(27, 94, 32, 0.25);
}

.primary-color {
  color: rgb(27, 94, 32) !important;
}

.icon-section {
  position: relative;
  top: 5px;
}

.main-section {
  margin-bottom: 90px;
  /* Ajusta la altura del navbar inferior */
}

i {
  pointer-events: none;
}

.menu-day:first-of-type {
  margin-top: 0px !important;
}